body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#dddddd;
  }
  
  .header {
    font-family:'Georgia', Times, Times New Roman, serif;
    overflow: hidden;
    background-color: #ffffff;
    margin-left:auto;
    margin-right:auto;
  }

  .header a {
    float: left;
    color:black;
    text-align: center;
    padding: 11px 25px 5px 20px;
    text-decoration: none;
    font-size: 18px;
  }
  
  ul.header-right {
    list-style: none; 
    padding: 0px 140px 0px 20px;

  }
  ul.header-right li {
    display: inline;
  }

  .header a.logo {
    font-size: 50px;
    color:#ffffff;
    background-color:#4aaaa5;
    margin-left: 150px;
  }
  
  .header a:hover {
    background-color: rgb(20, 191, 197);
    border-radius: 4px;
    color: #ffffff;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
 
 .header-portfolio {
      font-size:12px;
  }

  .second-section {
      width:960px;
      height: 720px;
      margin-left:auto;
      margin-right:auto;
      margin-top:30px;
      margin-bottom: 80px;
      background-color:#ffffff;
      line-height: 20px;
      padding: 10px 30px 20px 30px;
  }

  .space-portfolio {
      width:960px;
  }
  
  .portfolio-first-h2 {
      font-family: 'Georgia', Times, Times New Roman, serif;  
      color:#4aaaa5;
  }

  .description {
      margin-left: 10px;
  }

  .container {
      position: relative;
      width: 220px;
      height: 220px;
      
  }

  .title {
      position: absolute;
      align-content: center;
      color:#ffffff;
      width: 180px;
      background-color:#4aaaa5;
      font-family: 'Georgia', Times, Times New Roman, serif;
      bottom: 43px;
      font-size: 20px;
      margin-left: 20px;
      padding: 10px 10px 10px 10px;
  }

  img {
    z-index: -1;
  }

  ul.portfolio-list {
    list-style: none; 
    margin: 10px 10px 10px 10px;
    padding: 10px 140px 10px 20px;

  }
  ul.portfolio-list li {
    display: inline;
    z-index: -1;
    margin: 80px 100px 10px 10px;
    padding: 63px 80px 10px 80px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    margin-top:20px;

